<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace? Mybatis가 실행해야하는 쿼리의 클래스의 경로를 작성. 해당 클래스의 메소드와 mapper에 작성하는 
	쿼리가 매칭되어서 실행된다. Mybatis가 생성하는 익명클래스의 원본 -->
<mapper
	namespace="com.ktdsuniversity.edu.files.dao.FilesDao">
    <insert id="insertNewFileSet" 
            parameterType="com.ktdsuniversity.edu.files.vo.request.RequestFileSetVO">
            <selectKey order="BEFORE" keyProperty="id"
            resultType="string">
            SELECT 'FS-' || TO_CHAR(SYSDATE , 'YYYYMMDD-') ||
            LPAD(SEQ_FILE_SET_PK.NEXTVAL, 6,
            '0')
            FROM DUAL
        </selectKey>
            INSERT INTO FILE_SET 
			 (ID
			, EMAIL
			, CRT_DT
			, MDFY_DT)
			VALUES
			(#{id}
			, #{email}
			, SYSDATE
			, NULL)
    </insert>
    <insert id="insertNewFile" 
            parameterType="com.ktdsuniversity.edu.files.vo.request.RequestFileVO">
            INSERT INTO FILES
            (ID
		    , FILE_SET_ID
		    , DISPLAY_FILE_NAME
		    , OBFUSCATE_FILE_NAME
		    , FILE_SIZE
		    , DOWNLOAD_COUNT
            , DEL_YN)
           VALUES
            ('FL-' || TO_CHAR(SYSDATE, 'YYYYMMDD-') || LPAD(SEQ_FILES_PK.NEXTVAL, 6, '0')
           , #{fileSetId}
           , #{displayFileName}
           , #{obfuscateFileName}
           , #{fileSize}
           , 0 
           , 'N')
    </insert>
</mapper>